/* Kontak */
.contact-fullscreen {
  min-height: 100vh;
  background: url("../../img/background/background1.jpg") no-repeat center center;
  background-size: cover;
  padding-top: 60px;
  padding-bottom: 40px;
  color: #fff;
}

.contact-fullscreen .form-control {
  border-radius: 10px;
}

.info-box {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: #fff;
  transition: all 0.3s ease;
}

.info-box:hover {
  transform: translateY(-5px);
}
